body {
  background: #e6e6e6;
}

.container {
  background: white;
  padding: 0;
}

nav {
  display: inline-block;
  height: 50px;
  width: 100%;
  background: #D91E18;
  color: #EEEEEE;
}

.nav-left {
  float: left;
  height: 100%;
  padding: 5px;
}

.nav-right {
  float: right;
}

nav li {
  list-style: none;
  display: inline;
  padding: 10px;
  line-height: 50px;
}

.item {
  display: inline-block;
  background: #f6f6f6;
  text-align: center;
  font-size: 0.8em;
}

.item img {
  width: 125px;
  height: 100px;
  margin-bottom: 5px;
}
